

form hr{
	margin-top:.75rem;
	margin-bottom:.75rem;
}

.required{
	color:#ff0086;
}

.img-header-quote1{
	height: 400px;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position:top center;
	display: flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 24em;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.img-header-quote2{
	height: 400px;
	background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(../img/quote/bg2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position:top center;
	display: flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 24em;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

form input, form select{
	background-color:#fff;
	border-radius:40px;
	height:40px;
	padding:0 1rem;
}

form select{
	-webkit-appearance:none;
	padding-right:2rem;
	position:relative;
	background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

form input[type=submit]{
	font-size:30px;
	height:inherit;
}

form input[type=radio]{
	height:inherit;
	margin-right:1rem;
	margin-left:.25rem;
	margin-bottom:.5rem;
}

form div[class^="col-"]{
	padding:1rem 1rem;
}

.quote-results p{
	font-size:20px;
	margin-bottom:0;
}

.quote-results a{
	font-size:16px;
}

.quote-result div{
	display: flex;
	align-items: center;
	margin:1rem 0;
}

.quote-region strong{
	color:#3cc2d2;
}

.quote-monthly p{
	font-size:20px;
	font-weight:700;
}

.w-15{
	width:15%;
}

.custom-button input[type=submit] {
    position: relative;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.custom-button:hover input[type=submit] {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

/* Begin tooltip css */
.field-tip {
    position:relative;
    cursor:help;
}
    .field-tip .tip-content {
        position:absolute;
        top:-10px; /* - top padding */
        right:9999px;
        width:200px;
        margin-right:-220px; /* width + left/right padding */
        padding:10px;
        color:#fff;
        background:#333;
        -webkit-box-shadow:2px 2px 5px #000;
           -moz-box-shadow:2px 2px 5px #000;
                box-shadow:2px 2px 5px #000;
        opacity:0;
        -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
            -ms-transition:opacity 250ms ease-out;
             -o-transition:opacity 250ms ease-out;
                transition:opacity 250ms ease-out;
                font-size:12px;
    }
        .field-tip .tip-content:before {
            content:' '; /* Must have content to display */
            position:absolute;
            top:25px;
            left:-16px; /* 2 x border width */
            width:0;
            height:0;
            margin-top:-8px; /* - border width */
            border:8px solid transparent;
            border-right-color:#333;
        }
        .field-tip:hover .tip-content {
            right:-20px;
            opacity:1;
            z-index:10;
        }
/* End tooltip CSS */

@media(max-width:992px){

	label{
		margin-bottom:0;
	}

	.table-key{
		display:none;
	}

	.quote-results a{
		margin-bottom:;
	}

	.quote-result{
		margin-bottom:2rem;
	}

	.w-33{
		width:100%;
	}

	form input, form select{
		margin-bottom:1.25rem;
	}

	form hr{
		margin:0;
	}

}

@media(min-width:992px){

	.w-33{
		width:32%;
	}

	.quote-result strong{
		display:none;
	}
}

/* Turns out the HTML sider (range input) element has horrible cross browser compatibility.
All this is doing is trying to make it less awful
*/
form input[type=range] {
  -webkit-appearance: none;
  margin: 0px 0;
  width: 100%;
  background-color:transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: red;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/* End slider compatibility rules */